---
import "@/styles/global.css";

// Components:
import SkipToMain from "@/components/util/SkipToMain.astro";
---

<!doctype html>
<html lang={Astro.currentLocale}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Astro Basics</title>
		<slot name="head-end" />
	</head>
	<body>
		<slot name="body-start" />
		<SkipToMain />
		<main id="main" role="main" tabindex="-1">
			<slot />
		</main>
		<slot name="body-end" />
	</body>
</html>
